.header {
  height: 11vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: green; /* Added this line to set the header color to green */
}

.todo-wrapper {
  width: 100%;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
