.segmented-control {
  display: inline-flex;
  gap: 5px;
  background-color: rgb(234, 234, 234);
  padding: 5px;
  font-weight: bold;
  margin: 10px auto;
}

.segment {
  color: black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.segment input {
  opacity: 0;
  position: absolute;
  left: -9999px;
  pointer-events: none;
}

.segment label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

/* Active tab styling */
.segment.active {
  background-color: #646cff;
  color: white;
}

.tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}